<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas</title>
</head>
<body>
    <table>
        <thead>
            <% header.forEach(colums => { %>
                <th><%= colums %></th>
            <% }) %>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <% row.forEach(element => { %>
                        <td><%= element %></td>
                    <% }) %> 
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>